build/
*.egg-info/
*.egg

__pycache__/
.vscode/

*.obj
*.pdb
*.exe

*.pth

**/nlohmann

# Test artifacts from test_executable_simulators
finput_*.nml
foutput_*.txt
cxxinput_*.json
cxxoutput_*.txt
std_output_*.txt
std_error_*.txt
